@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300&display=swap');
*{
    padding:0;
    margin: 0;
    border: 0;
    font-family: 'Inter', sans-serif;
    background-color: #333333;
}
.nav-container{
    border: 0.5px solid rgba(177, 165, 146, 1);
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    padding: 6px;
    border-radius: 50px;
}
.left-nav{
    display: flex;
    justify-content: space-between;
    width:60%;
    gap: 11px;
    border-radius: 50px;;
}
.left-nav>div{
    padding: 10px;
    border: 0.5px solid rgba(177, 165, 146, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.left-1{
    width: 40%;
    background-color: rgba(50, 48, 37, 1);
    border: none !important;
}
.left-2{
    width: 20%;
    /* background-color: rgba(177, 165, 146, 1);
    color: rgba(51, 51, 51, 1) !important; */
}
.left-3{
    width: 20%;
}
.left-4{
    width: 20%;
}
.left-2:hover{
    background-color: rgba(223, 214, 197, 1);
    color: rgba(50, 48, 37, 1);
}
.left-3:hover{
    background-color: rgba(223, 214, 197, 1);
    color: rgba(50, 48, 37, 1);
}
.left-4:hover{
    background-color: rgba(223, 214, 197, 1);
    color: rgba(50, 48, 37, 1);
}
.contact:hover{
    background-color: rgba(223, 214, 197, 1);
    color: rgba(50, 48, 37, 1);
}
.nav-menu:hover{
    background-color: rgba(223, 214, 197, 1);
    color: rgba(50, 48, 37, 1);
}
.nav-container div{
    color: rgba(177, 165, 146, 1);
    cursor: pointer;
}
.right-nav{
    width: 40%;
    display: flex;
    justify-content: end;
    border-radius: 50px;
}
.contact{
    width: 20%;
    padding: 10px;
    border: 0.5px solid rgba(177, 165, 146, 1);
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-self: center;
}
.nav-menu{
    display: none;
}
@media(max-width:1200px){
    .contact{
        display: none;
    }
    .left-1{
        width:100%;
    }
    .left-2{
        display: none !important;
    }
    .left-3{
       display: none !important;
    }
    .left-4{
       display: none !important;
    }
    .left-nav{
        width:80%;
    }
    .right-nav{
        width:20%;
    }
    .nav-menu{
        width: 100%;
        padding: 10px;
        border: 0.5px solid rgba(177, 165, 146, 1);
        display: flex;
        justify-content: center;
        border-radius: 50px;
        align-self: center;
    }
}
.container{
    display: flex;
    justify-content: space-around;
    margin:0px 30px;
    gap: 15px;
}
@media(max-width:1200px){
    .container{
        flex-wrap: wrap;
    }
}
@media(max-width:780px){
    .child2{
        flex-wrap: wrap;
    }
    .card-flat-sides{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-flat img{
        padding-left: 20px;
    }
}
.left-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 180%;
}
img:hover{
    transform: scale(1.2)
}
.image-container{
    display: flex;
    background-color: rgba(223, 214, 197, 1);
    justify-content: center;
    align-items: center;
    /* border:2px solid red; */
    width: 650px;
    height: 65%;
    overflow: hidden;
    margin:30px 20px;
    border-radius: 20px;
}
.image-container>img{
    width: 650px;
    border-radius: 20px;
    align-self: center;
    /* flex-wrap: wrap; */
    margin-bottom: 30px;
    /* border:2px solid green; */
    transition: 1s;
}
.card-1{
    background-color: rgba(223, 214, 197, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    height: 100%;
}
.card-1>.card-heading{
    background-color: rgba(223, 214, 197, 1);
    color: rgba(50, 48, 37, 1);
    font-size: 18px;
    border: 0.5px solid rgba(50, 48, 37, 1);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    border: 1px solid #333;
    align-self: flex-start;
    padding: 2px;
    margin: 15px 30px;
}
.card-1>.card-name{
    background-color: rgba(223, 214, 197, 1);
    color: rgba(50, 48, 37, 1);
    font-size: 2em;
    font-weight: 700;
    align-self: flex-start;
    padding-left: 30px;
    margin-bottom: 30px;
}
.card-1>.card-name u{
    background-color: rgba(223, 214, 197, 1);
    color: rgba(50, 48, 37, 1);
}
.get-started{
    background-color: rgba(223, 214, 197, 1);
    border-top: 0.5px solid rgba(50, 48, 37, 1);
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.get-started h3{
    background-color: rgba(223, 214, 197, 1);
    color: rgba(50, 48, 37, 1);
    font-size: 14px;
    font-weight: 500;
}
.get-started span{
    background-color: rgba(223, 214, 197, 1);
}
.right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}
.card-flat{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 30px;
    padding: 10px;
    background: rgba(142, 136, 109, 1);
    gap: 20px;
}
.card-flat img{
    width: 500px;
    border-radius: 20px;
    align-self: stretch;
    padding-top: 10px;
    padding-right: 10px;
    background-color: rgba(142, 136, 109, 1);
    transition: 1s;
    height:200px;
}
.card-flat-sides{
    display: flex;
    justify-content: space-between;
}
.card-flat-left{
    background-color: rgba(142, 136, 109, 1);
}
.card-flat-right{
    background-color: rgba(142, 136, 109, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}
.card-flat-left>.card-heading{
    background: rgba(142, 136, 109, 1);
    color: rgba(50, 48, 37, 1);
    font-size: 18px;
    border: 0.5px solid rgba(50, 48, 37, 1);
    border-radius: 50px;
    display: inline-block;
    border: 1px solid #333;
    padding: 20px;
    margin: 15px 30px;
}
.card-flat-left>.card-name{
    background: rgba(142, 136, 109, 1);
    color: rgba(50, 48, 37, 1);
    font-size: 2em;
    font-weight: 700;
    align-self: flex-start;
    padding-left: 30px;
    margin-bottom: 30px;
}
.card-flat-left>.card-name u{
    background: rgba(142, 136, 109, 1);
    color: rgba(50, 48, 37, 1);
}
.card-flat-left>.card-text{
    background: rgba(142, 136, 109, 1);
    color: rgba(50, 48, 37, 1);
    margin-left: 30px;
}
.card-flat-bottom{
    background: rgba(142, 136, 109, 1);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(50, 48, 37, 1)
}
.card-flat-bottom span{
    background: rgba(142, 136, 109, 1);
    padding: 10px 30px;
    
}
.child2{
    display: flex;
    gap: 15px;
}
.card-small1{
    background-color: rgba(145, 110, 88, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    border-radius: 30px;
    height: 700px;
    overflow: hidden;
}
.card-small2{
    background-color: rgba(177, 164, 142, 1);
}
.card-small1 img{
    border-radius: 30px;
    align-self: stretch;
    background-color: rgba(145, 110, 88, 1);
    padding: 10px;
    transition: 1s;
}
.card-small1>.card-name u{
    background-color: rgba(145, 110, 88, 1);
    color: rgba(51, 51, 51, 1);
    font-size: 2em;
    font-weight: 700;
}
.card-small1>.card-name{
    background-color: rgba(145, 110, 88, 1);
    padding: 0px 15px;
}
.card-small1>p{
    background-color: rgba(145, 110, 88, 1);
    padding: 0px 15px;
}
.card-small1>.get-started{
    background-color: rgba(145, 110, 88, 1);
}
.card-small1>.get-started span{
    background-color: rgba(145, 110, 88, 1);
}
.card-small1>.get-started h3{
    background-color: rgba(145, 110, 88, 1);
}


.small2-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    background-color: rgba(177, 164, 142, 1);
    border-radius: 30px;
}
.small2-header>.card-heading{
    background-color: rgba(177, 164, 142, 1);
    color: rgba(50, 48, 37, 1);
    font-size: 18px;
    border: 1px solid rgba(50, 48, 37, 1);
    border-radius: 50px;
    padding: 15px;
}
.small2-header>img{
    background-color: rgba(177, 164, 142, 1);
    transition: 1s;
}
.card-small2 .card-name{
    background-color: rgba(177, 164, 142, 1);
    padding: 0 15px;
}
.card-small2 .card-name u{
    background-color: rgba(177, 164, 142, 1);
    color: rgba(51, 51, 51, 1);
    font-size: 2em;
    font-weight: 700;
}
.card-small2>p{
    background-color: rgba(177, 164, 142, 1);
    padding:0 15px;
}
.card-small2>.get-started{
    background-color: rgba(177, 164, 142, 1);
}
.card-small2>.get-started span{
    background-color: rgba(177, 164, 142, 1);
}
.card-small2>.get-started h3{
    background-color: rgba(177, 164, 142, 1);
}
.card-small2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    height:700px;
    background-color: rgba(177, 164, 142, 1);
}